
.share-button + .product__view-details {
  display: inline-flex;
  float: inline-end;
  align-items: center;
}

.share-button + .product__view-details::after {
  content: "";
  clear: both;
  display: table;
}